<div class="container-fluid">
    <h3>User Profile </h3>
    <h5><strong>Name : </strong> ... </h5>
    <div class="row">
        <div class="col-md-2">
            <img class="thumbnail" src="assets/img/profile-pic.png"  alt="">
        </div>
        <div class="col-md-10">
            <ul class="list-group">
                <li class="list-group-item"> <strong> Email : ...</strong> ... </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item"> <strong> Cellphone No : ...</strong> ss </li>
            </ul>
        </div>
    </div>

    <div>
        <h2> Rating</h2>
        
    </div>
</div>