.right-link:link{
    text-align: right !important;
    text-decoration: none;
  }
  
  .center-link:link{
    text-align: center !important;
    text-decoration: none;
  }
  
  a:hover{
    background-color: pink;
  }